# OS X
.AppleDouble
.DS_Store
.LSOverride

# OS X files that might appear on external disk
.Spotlight-V100
.Trashes

# OS X thumbnails
._*

# OS X directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows folder config file
Desktop.ini

# Windows recycle Bin used on file shares
$RECYCLE.BIN/

# Linux
*~

# WebStorm
.idea

# NPM
node_modules
npm-debug.log

# Composer
composer.lock
/vendor

# Project specific rules from here
/storage
